@import "normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-size-default: 16px;
  --font-family-default: "Poppins", sans-serif;
  --white: #fff;
  --black: #000;
  --width-default: 1150px;
  --height-header-default: 60px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 1rem to equal 10px */
  font-size: 62.5%;
}

body {
  font-size: var(--font-size-default);
  font-family: var(--font-family-default);
  line-height: 1.5;
  color: var(--black);
  background-color: #d8e0e4;
}

a[href] {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
  font-family: var(--font-family-default);
}
