.search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  input {
    flex: 1;
    padding: 1rem 2rem;
    padding-left: 1rem;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 3.6rem;
    font-size: 1.4rem;
    color: #333;
    font-weight: 500;
  }
  button {
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 1rem 2rem;
    min-height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:focus-within {
    outline: 1px solid #999;
  }
  .one-bar {
    width: 1px;
    height: 20px;
  }
}
.wrapper-tippy {
  flex: 1;
}

.list-products {
  background: rgb(242, 244, 245);
  width: 350px;
  display: flex;
  flex-direction: column;
  max-height: 50rem;
  overflow-x: hidden;
  overflow-y: scroll;
  li {
    display: flex;
    padding: 1rem;
    img {
      border-radius: 0.5rem;
    }
    .product-detail {
      flex: 1;
      margin-left: 2rem;
    }
    .product-describe {
      display: flex;
      position: relative;
      input {
        position: absolute;
        right: 10rem;
      }
    }
  }
}
