.spinner {
  display: block;
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid red;
  border-radius: 50%;
  border-top-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 6rem;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
