.loading {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.5rem solid #eee;
  border-top-color: transparent;
  animation: spiner 1s linear infinite;
}

@keyframes spiner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
