.wrapper {
  border-radius: 2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.wrapper-image {
  min-height: 350px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    object-fit: cover;
  }
}

.price {
  position: absolute;
  bottom: 0;
}

.loading {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.5rem solid;
  border-top-color: #666;
  animation: spiner 1000ms linear infinite;
}
@keyframes spiner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper-select {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.select {
  margin: 1rem;
}
