.wrapper {
  display: flex;
  max-width: 750px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 0.5rem;
  min-height: 9rem;
  gap: 1rem;
}

@media screen and (max-width: 524px) {
  .wrapper {
    gap: 1rem;
    font-size: 1.4rem;
  }
  .quantity {
    margin-right: 1rem !important;
    p {
      min-width: 3rem;
      text-align: center;
    }
  }
  .wrapper_img {
    max-width: 100px !important;
    min-width: 100px !important;
  }
  .delete {
    margin: 0 !important;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  .detail {
    h2 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}

.wrapper_img {
  max-width: 150px;
  line-height: 0;
  min-width: 150px;
  img {
    object-fit: cover;
    width: 100%;
    border-radius: 0.5rem;
  }
}

.action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  gap: 1rem;
  p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
  }
}
.quantity_button {
  display: flex;
  flex-direction: column;
  button {
    background-color: transparent;
    font-size: 2rem;
    line-height: 0;
  }
}
.price {
  margin-right: 1rem;
  font-weight: 400;
  font-size: 1.8rem;
  min-width: 7rem;
  text-align: right;
}

.delete {
  background-color: transparent;
  font-size: 2rem;
  margin: 0 1rem;
}
