.wrapper {
  display: flex;
  border: 1px solid var(--clr-primary-5);
  flex: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.content {
  .wrapper_img {
    max-width: 356px;
    width: 100%;
    min-width: 100px;
    img {
      max-height: 256px;
      max-width: 100%;
      object-fit: contain;
      border-radius: 0.5rem;
    }
  }
  flex: 1;
}

.detail {
  a {
    color: var(--clr-grey-4);
    transition: 0.2s ease all;
    &:hover {
      color: var(--clr-primary-5);
    }
  }
  p {
    font-style: italic;
  }
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-width: 200px;
  padding: 0.5rem;
}
.price {
  flex: 1;
  text-align: right;
  min-width: 10rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.quantity {
  p {
    min-width: 5rem;
    font-size: 1.8rem;
    text-align: center;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.quantity_button {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  button {
    font-size: 3rem;
    display: flex;
    color: var(--clr-primary-5);
    background: transparent;
    padding: 0 !important;
    transition: 200ms all ease;
    &:hover {
      color: var(--clr-primary-4);
    }
  }
  button:disabled {
    user-select: none;
    cursor: not-allowed;
    color: var(--clr-primary-9);
  }
}

.delete {
  font-size: 3rem;
  background-color: transparent;
  display: flex;
  color: var(--clr-red-light);
  transition: 200ms all ease;
  &:hover {
    color: var(--clr-red-dark);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    font-size: 1.4rem !important;
  }
  button {
    font-size: 1.8rem !important;
  }
}
