.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--width-default);
  padding: 0 2.5rem;
  margin-top: 5rem;
  gap: 3rem;
  place-content: center;
}

.related {
  margin-top: 5rem;
}

.related_product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem 5rem;
  place-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  gap: 1rem;
}

.image {
  width: 100%;
  line-height: 0;
  img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 900px) {
  .related {
    max-width: 700px;
    width: 100%;
    margin: 5rem auto;
  }
}

@media screen and (max-width: 1048px) {
  .related_product {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
