.wrapper {
  width: 100%;
  max-width: var(--width-default);
  padding: 2.5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  table {
    border-collapse: collapse;
  }
  th,
  td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
  }
  th {
    background-color: #4caf50;
    color: white;
  }
  gap: 2rem;
  word-wrap: anywhere;
}

.head_none_wrap {
  word-wrap: break-word;
}

.image {
  max-width: 200px;
  min-width: 150px;
  min-height: 150px;
  img {
    // width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 524px) {
  .hidden {
    display: none;
  }
}
