.wrapper {
  width: var(--width-default);
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2.5rem;
  gap: 1rem;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 750px;
  width: 100%;
}

.paypal {
  margin-top: 2rem;
  max-width: 450px;
  width: 100%;
}

.total {
  width: 100%;
  max-width: 750px;
  text-align: right;
  font-size: 1.8rem;
  margin-top: 1rem;
}
